<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411268023008-umujcvpq7q0733g949akmirq8m3j5f9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411268023008-umujcvpq7q0733g949akmirq8m3j5f9s</string>
	<key>API_KEY</key>
	<string>AIzaSyBgg159Py_7RIOAUYXiv-nJFRAF6aXqIbk</string>
	<key>GCM_SENDER_ID</key>
	<string>411268023008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syoyabu.disLab</string>
	<key>PROJECT_ID</key>
	<string>talklab-35fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>talklab-35fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411268023008:ios:d8d8281806ec78e517c685</string>
</dict>
</plist>